.navbar {
    height: 50px;
    background: black;
    margin-bottom: 0;
    border-radius: 0;
}

body{
    background-color: white;
}

img {
    height: 180px;
    width: 320px;
}

.content {
    position:absolute;
    top: 50px;
    left:0px;
    right:0px;
    bottom:0px;
    overflow-y:scroll;
}
#index-body {
    overflow: hidden
}

.background-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.form-body{
    position: relative;
    opacity: .85;
    margin-top: 50%;
    top: -150px;
    background:#dfdfdf;
    padding:20px;
    color: cornflowerblue;
    z-index: 0;
}

.panel-main{
    padding-top:20px;
}

.nav-tabs {
    border-bottom: none !important;
}

.navbar-header>a>img {
    height: 25px;
    width: 100px;
}

.nav-tabs>li{
    width:50%;
    color:#222222 !important;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #fff;
    border: none !important;
    border-bottom-color: transparent;
    border-radius:none !important;
}
.nav-tabs>li>a {
    color: cornflowerblue;
    margin-right: 2px;
    line-height: 1.5;
    border: none !important;
    border-radius:none !important;
    text-transform:uppercase;
    font-size:16px;
}

.form input[type=text], input[type=password], input[type=file]{
    font-size:13px;
    padding:10px;
    border:1px solid#ccc;
    outline:none;
    width:100%;
    margin:8px 0;

}
.form button{
    background:#49afe4;
    color:#fff;
    padding:10px 25px;
    font-size:14px;
    margin-top:5px;
}
.form button:hover{
    background:#22a0e2;
    color:#fff;
}
.form p{
    color: black;
    font-size:13px;
    padding-top:10px;
}

input::-webkit-input-placeholder {
    color: #6e6e6e !important;
    font-weight: bold;
    font-size: 120%; 
}

input:-moz-placeholder { /* Firefox 18- */
    color: #6e6e6e !important;
    font-weight: bold;
    font-size: 120%; 
}

input::-moz-placeholder {  /* Firefox 19+ */
    color: #6e6e6e !important;
    font-weight: bold;
    font-size: 120%; 
}

input:-ms-input-placeholder {
    color: #6e6e6e !important;
    font-weight: bold;
    font-size: 120%; 
}

@media (min-aspect-ratio: 16/9) {
    .background-video {
        height: 300%;
        top: -100%;
    }
}

@media (max-aspect-ratio: 16/9) {
    .background-video {
        width: 300%;
        left: -100%;
    }
}

@media (max-width: 767px) {
    .background-container {
        background: url('../images/bg.jpg') center center / cover no-repeat;
    }

    .background-video {
        display: none;
    }
}
